@import "tailwindcss";

button{
    cursor: pointer;
}
@keyframes scroll{
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-50%);
    }
}